<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value=".\logs"/>

	<targets>
		<target xsi:type="Console" name="Console" layout="${longdate}	${level}	${message}"/>
		<target xsi:type="File" keepFileOpen="true" name="IntelligentInvestorTraceLog" fileName="${logDirectory}\IntelligentInvestor_TraceLog_${shortdate}.log"
				layout="${longdate}	${event-properties:item=EventId_Id}	${uppercase:${level}}	${logger}	${message}	${exception:format=tostring}" />
		<target xsi:type="File" keepFileOpen="true" name="IntelligentInvestorLog"	fileName="${logDirectory}\IntelligentInvestor_Log_${shortdate}.log"
				layout="${longdate}	${event-properties:item=EventId_Id}	${uppercase:${level}}	${logger}	${message}	${exception:format=tostring}" />
		<target xsi:type="File" keepFileOpen="true" name="IntelligentInvestorDangerLog" fileName="${logDirectory}\IntelligentInvestor_DangerLog_${shortdate}.log"
				layout="${longdate}	${event-properties:item=EventId_Id}	${uppercase:${level}}	${logger}	${message}	${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="IntelligentInvestorTraceLog" />
		<logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Information" writeTo="IntelligentInvestorLog, Console" />
		<logger name="*" minlevel="Warn" writeTo="IntelligentInvestorDangerLog" />
	</rules>
</nlog>